<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>sample string 4?</string>
		<key>QuestionInstanceId</key>
		<integer>4</integer>
		<key>Answer</key>
		<string></string>
		<key>QuestionTypeId</key>
		<integer>3</integer>
		<key>Options</key>
		<array>
			<dict>
				<key>Answer</key>
				<string>Option5</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option3</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option4</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>sample string 3 dsafds dsafds dsafdsabdsaf adsfdsa adsfds adsfdsaf dsafdsaf adsfdsafdsa?</string>
		<key>QuestionInstanceId</key>
		<integer>3</integer>
		<key>Answer</key>
		<string></string>
		<key>QuestionTypeId</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>sample string 1?</string>
		<key>QuestionInstanceId</key>
		<integer>1</integer>
		<key>Answer</key>
		<string></string>
		<key>QuestionTypeId</key>
		<integer>4</integer>
		<key>Options</key>
		<array>
			<dict>
				<key>Answer</key>
				<string>Option3</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option4</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option2</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option1</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>sample string 2?</string>
		<key>QuestionInstanceId</key>
		<integer>2</integer>
		<key>Answer</key>
		<string></string>
		<key>QuestionTypeId</key>
		<integer>3</integer>
		<key>Options</key>
		<array>
			<dict>
				<key>Answer</key>
				<string>Option3</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>Answer</key>
				<string>Option4</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
