<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Restaurants</string>
		<key>icon</key>
		<string>Restaurants_108x108.png</string>
		<key>searchInfo</key>
		<string>restaurant</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Coffee</string>
		<key>icon</key>
		<string>Coffee_108x108.png</string>
		<key>searchInfo</key>
		<string>cafe</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hotels</string>
		<key>icon</key>
		<string>Hotel_108x108.png</string>
		<key>searchInfo</key>
		<string>lodging</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Banks</string>
		<key>icon</key>
		<string>ic_bank.png</string>
		<key>searchInfo</key>
		<string>bank</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Movies</string>
		<key>icon</key>
		<string>Movies_108x108.png</string>
		<key>searchInfo</key>
		<string>movie_theater</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Museums</string>
		<key>icon</key>
		<string>Museums_108x108.png</string>
		<key>searchInfo</key>
		<string>museum</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hospitals</string>
		<key>icon</key>
		<string>Hospitals_108x108.png</string>
		<key>searchInfo</key>
		<string>hospital</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Parking</string>
		<key>icon</key>
		<string>Parking_108x108.png</string>
		<key>searchInfo</key>
		<string>parking</string>
	</dict>
</array>
</plist>
